@page
@model SpeakerHomeModel
@{
    ViewData["Title"] = "Speaker Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Speakers</h1>
</div>
<div>
    <a asp-page="CreateWorkshop">Make Workshop</a>
</div>