@page
@model TeacherHomeModel
@{
    ViewData["Title"] = "Teacher Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Teachers</h1>
</div>
<div>
    <a asp-page="CreateEvent">Make Event</a>
</div>
<div>
    <a asp-page="Register">Register for Event</a>
</div>