@page
@model VolunteerHomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Volunteer</h1>    
</div>
<div>
    <a asp-page="Register">Register for Event</a>
</div>